*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}
    

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    padding:3rem;
}

.scoreContainer{
    color: white;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
h2{
    margin-right:25rem;
}
.answer-div ol li{
    list-style: none;
    text-align: left;
}
.answer-div{
   
    padding-left: 2rem;
   
}
.answer-div 
{
    color:black;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: bold;
}
.btn{
    height: 3rem;
    width: 8rem;
    margin-top: 2rem;
    background:linear-gradient(57deg,#00c6a7,#1e4d92);
    border:1px solid white;
    border-radius: 4px;
    color:#fff;
    
}
.btn:hover{
    background:linear-gradient(57deg,#1e4d92,#00c6a7);

}
.outer-div{
    background:linear-gradient(57deg,#00c6a7,#1e4d92);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width:50%;
    height: auto;
    padding: 5rem;
    margin: auto;
    margin-top: 4rem;
    padding-left: 10rem;
    border-radius: 15px;
}

.question-div h4{
    color:white;
    margin-bottom: 2rem;
}
#show{

    border: 2px solid white;
    margin: auto;
    margin-top: 1rem;
    padding-left: 10rem;
    border-radius: 15px;
    background:linear-gradient(57deg,#00c6a7,#eee);
    color:white;
   

}

.showScore{
    display: none;
}


   

